html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg) center center;
  height: 600px;
  overflow: hidden;
  text-align: center;
}

.main h1 {
  font-size: 150px;
  color: white;
}

.main p {
  font-size: 18px;
  color: white;
  margin-top: -110px;
  margin-bottom: 25px;
}

.main a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 40px 10px 40px;
}

.main a:hover {
  color: black;
  background-color: #F5B800;
}

/*Supporting*/
.supporting {
  background-color: #1c1c1c;
  overflow: hidden;
  text-align: center;
}

.supporting .col {
  display: inline-block;
  padding: 50px 20px 80px 0px;
  width: 28%;
}

.supporting h2 {
  color: #ffa800;
  font-size: 40px;
}

.supporting p {
  color: white;
	font-size: 12px;
  margin-top: -30px;
  margin-bottom: 25px;
}

/*Feature*/
.feature {
  height: 600px;
  overflow: hidden;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg) center center;
  text-align: center;
}

.feature h2 {
  color: #fff;
  font-size: 60px;
  padding-top: 220px;
}

.supporting a:hover {
  background-color: #F5B800;
}

#exp p{
  line-height: 0.5px;
}

.supporting .btn {
  margin-top: 40px;
  background-color: #eee;
	color: #1c1c1c;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 22px;
  padding-right: 22px;
}


.footer {
  height: 600px;
  overflow: hidden;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg) center center;
  text-align: center;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin-top: 230px;
}

.footer a {
  background-color: #1c1c1c;
	color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.footer a:hover {
  background-color: #ffa800;
	color: black;
}